# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv-1/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Operating system
.DS_Store
Thumbs.db
desktop.ini

# Data generated during processing
data/processed/*
!data/processed/.gitkeep

# Generated reports/figures
reports/figures/*
!reports/figures/.gitkeep
